{% load humanize %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>hotohete CSGO stats</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
						<h1 class="text-center">Hotohete</h1>		
				</div>
				<div class="col-sm-4">
				</div>
			</div>
				{% for team in teams %}
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
						 	<h2 class="text-center">{{ team.name }}</h2>
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
				 		{% for member in team.csuser_set.all %}
					 		<div class="col-sm-3">
					 			<div class="thumbnail">
							      <img src="{{member.get_steam_info.avatarfull}}" alt="{{ member.steam_username }}">
							      <div class="caption">
							        <h3 class="text-center">{{ member.get_steam_info.personaname }}</h3>
							        {% if member.get_cs_info %}
							        	<p>Country: {{ member.get_steam_info.loccountrycode }}</p>
								        <p>Kills: {{ member.get_cs_info.0.value | intcomma }}</p>
								        <p>Deaths: {{ member.get_cs_info.1.value | intcomma }}</p>
								        <p>Bombs planted: {{ member.get_cs_info.3.value | intcomma }}</p>
								        <p>Wins: {{ member.get_cs_info.5.value | intcomma }}</p>
								    {% else %}
								    	<p>The user info cannot be retrieved.</p>
								    	<p>Check user profile visibility.</p>
								    	<p>You can check the <a target="_blank" href="http://steamcommunity.com/id/{{ member.steam_username }}">user profile at steam</a>.</p>
								    	<p></p>
								    {% endif %}
							      </div>
							    </div>
					 		</div>
						{% endfor %}
					</div>
				{% endfor %}
		</div>
	</body>
</html>