@font-face {
    font-family: russian;
    src: url('fonts/Russian.ttf');
}

body {
    background-color: #1f1f1f;
    color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: russian;
}

header {
    display: flex;
    background-color: #030303;
    min-height: 9rem;
}

header .header-container {
    display: flex;
    align-items: flex-end;
}

header h1 {
    font-size: 6rem;
}

footer {
    background-color: #030303;
    min-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    min-height: 30rem;

    background: rgba(36,36,36,1);
    background: -moz-linear-gradient(left, 
        rgba(36,36,36,1) 0%, 
        rgba(31,31,31,1) 1%, 
        rgba(31,31,31,1) 51%, 
        rgba(31,31,31,1) 99%, 
        rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,36,36,1)), 
        color-stop(1%, rgba(31,31,31,1)), color-stop(51%, rgba(31,31,31,1)), 
        color-stop(99%, rgba(31,31,31,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(left, rgba(36,36,36,1) 0%, 
        rgba(31,31,31,1) 1%, 
        rgba(31,31,31,1) 51%, 
        rgba(31,31,31,1) 99%, 
        rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(left, rgba(36,36,36,1) 0%, 
        rgba(31,31,31,1) 1%, rgba(31,31,31,1) 51%, 
        rgba(31,31,31,1) 99%, 
        rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(left, rgba(36,36,36,1) 0%, 
        rgba(31,31,31,1) 1%, rgba(31,31,31,1) 51%, rgba(31,31,31,1) 99%, 
        rgba(36,36,36,1) 100%);
    background: linear-gradient(to right, rgba(36,36,36,1) 0%, 
        rgba(31,31,31,1) 1%, rgba(31,31,31,1) 51%, rgba(31,31,31,1) 99%, 
        rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient
    ( startColorstr='#242424', endColorstr='#242424', GradientType=1 );
}

a, a:hover, a:visited, a:link, a:active {
    color: #d5277c;
    text-decoration: none;
}

.thumbnail {
    background-color: #1f1f1f;
    border: 2px dotted #772b4f;
}

.thumbnail .caption {
    color: #fafafa;
}

.thumbnail img {
    padding: 2rem;
}

.team-title {

    margin-top: 2rem;
    margin-bottom: 3rem;
}

.magicbox {
    background-color: #2a2a2a;
    height: 30rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
}

.magicbox h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.col--small {
    padding: 0 5px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1f1f1f;
}

.table>tbody>tr>td {
    border:none;
}