@font-face {
    font-family: russian;
    src: url('fonts/Russian.ttf');
}

body {
	background-color: #1f1f1f;
	color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
	font-family: russian;
}

header {
	display: flex;
	background-color: #030303;
	min-height: 12rem;
}

header .header-container {
	display: flex;
	align-items: flex-end;
}

header h1 {
	font-size: 6rem;
}

footer {
	background-color: #030303;
	min-height: 10rem;
}

main.container {
	min-height: 30rem;
}

a {
	color: #d5277c;
}

a:hover {
	color: #d5277c;
	text-decoration: none;
}

.thumbnail {
	background-color: #1f1f1f;
	border: 2px dotted #772b4f;
}

.thumbnail .caption {
	color: #fafafa;
}

.thumbnail img {
	padding: 2rem;
}

.team-title {
	margin-top: 6rem;
    margin-bottom: 2rem;
}

.vertical-center-wraper{
	position: relative;
}
.vertical-center{
	position: absolute;
  	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%); /*this was the only way to vertically-center something*/
}