
{% extends '_base.html' %}
{% block main_content %}
    <div class="col-sm-12">
        <div class="magicbox magicbox--dynamic">
            <h3>Detail Players</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>kill_death_ratio</th>
                        <th>kills_min</th>
                        <th>wins_min</th>
                        <th>damanage_min</th>
                        <th>kills_round</th>
                        <th>wins_round</th>
                        <th>damange_round</th>
                        <th>score_per_second</th>
                        <th>wins_rate</th>
                        <th>elo</th>
                    </tr>
                </thead>
                <tbody>

                    {% for user in users_by_elo if user.csgo_info %}
                        <tr>
                            <td>{{ user.steam_info.personaname }}</td>
                            <td>{{ user.kill_death_ratio | round(2) }}</td>
                            <td>{{ user.kills_min | round(2) }}</td>
                            <td>{{ user.wins_min | round(2) }}</td>
                            <td>{{ user.damanage_min | round(2) }}</td>
                            <td>{{ user.kills_round | round(2) }}</td>
                            <td>{{ user.wins_round | round(2) }}</td>
                            <td>{{ user.damange_round | round(2) }}</td>
                            <td>{{ user.score_per_second | round(2) }}</td>
                            <td>{{ user.wins_rate | round(2) }}</td>
                            <td>{{ user.elo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block main_class %}container-fluid{% endblock %}