
{% extends '_base.html' %}
{% block main_content %}
    <div class="col-sm-12">
    	<div class="row">
    		<div class="col-sm-5 col--small">
    			<div class="magicbox">
    				<h3>Top Players</h3>
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>MikeLirio</td>
    						</tr>
    						<tr>
    							<td>Boy</td>
    						</tr>
                            <tr>
    							<td>Pepe</td>
    						</tr>
                            <tr>
    							<td>Gina</td>
    						</tr>
                            <tr>
    							<td>Rebeca</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    		<div class="col-sm-3 col--small">
    			<div class="magicbox">
    				<div class="flexboxhorizontal">
    					<img class="portrait" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/4b/4b3cb82d708e44d95ca88b4842e28b98e75e9a92_full.jpg" width="100rem" height="100rem">
    				</div>
                    <div class="flexboxhorizontal margintop">
                        <h3 class="nameplayer">MikeLirio</h3>
                        <img src="https://flagspot.net/images/p/pt.gif" width="25rem" height="%">
                    </div>
                    <div class="margintop">
                        <ul>
                            <li>Kill/deaths/hour ratio: 1.5</li> 
                            <li>Rank: Russian</li> 
                            <li>Hours played: 900</li> 
                            <li>Bombs planted: 50</li>
                            <li>rounds won: 1934</li>
                        </ul>
                            
                    </div>
                   
    			</div>
    		</div>
    		<div class="col-sm-4 col--small">
    			<div class="magicbox">
    				<h3>Team List</h3>
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>Antananarivo</td>
    						</tr>
    						<tr>
    							<td>Rep.Malgache</td>
    						</tr>
                            <tr>
    							<td>+Rep</td>
    						</tr>
                            <tr>
    							<td>Triggered</td>
    						</tr>
                            <tr>
    							<td>Cerosesenta</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-3 col--small">
    			<div class="magicbox">
    				<h3>Top Weapons</h3>
                    <div class= "flexboxhorizontal">
                        <img  class = "margintop" src="https://upload.wikimedia.org/wikipedia/commons/1/11/Donut-Chart.svg" width="240 rem" height="240 rem">
                    </div>
    			</div>
    		</div>
    		<div class="col-sm-3 col--small">
    			<div class="magicbox">
    				<h3>Top maps</h3>
                    <div class= "flexboxhorizontal">
                        <img  class = "margintop" src="https://upload.wikimedia.org/wikipedia/commons/1/11/Donut-Chart.svg" width="240 rem" height="240 rem">
                    </div>
    			</div>
    		</div>
    		<div class="col-sm-3 col--small">
    			<div class="magicbox">
    				<h3>Average hotohete stats</h3>
                    <div class="margintopmaxi">
                        <ul>
                            <li>Kill/deaths/hour ratio: 1.5</li> 
                            <li>Medium Rank: Russian</li> 
                            <li>Hours played: 900</li> 
                            <li>Bombs planted: 50</li>
                            <li>rounds won: 1934</li>
                            <li>rounds won: 1934</li>
                            <li>rounds won: 1934</li>
                            <li>rounds won: 1934</li>
                        </ul>  
                    </div>
    			</div>
    		</div>
    		<div class="col-sm-3 col--small">
    			<div class="magicbox">
    				<h3>Top hours played</h3>
    				<table class="table table-striped">
    					<tbody>
    						<tr>
    							<td>Jeena</td>
    							<td>20</td>
    						</tr>
    						<tr>
    							<td>Rubén</td>
    							<td>20</td>
    						</tr>
                            <tr>
    							<td>Cap</td>
    							<td>20</td>
    						</tr>
                            <tr>
    							<td>Orfeo</td>
    							<td>20</td>
    						</tr>
                            <tr>
    							<td>Xabier</td>
    							<td>20</td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    	</div>
    </div>
{% endblock %}
