
{% extends '_base.html' %}
{% block main_content %}
    <div class="row team">
        <div class="col-sm-12">
            <div class="row team-title">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2 class="text-center">{{ team.name }}</h2>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                {% for member in team.csuser_set.filter(visible=True) %}
                    <div class="col-sm-3">
                        <div class="thumbnail">
                          <img src="{{member.steam_info.avatarfull}}" alt="{{ member.steam_username }}">
                          <div class="caption">
                            <h3 class="text-center">{{ member.steam_info.personaname }}</h3>
                            {% if member.csgo_info %}
                                <p>Country: {{ member.steam_info.loccountrycode | default('Unknown') }}</p>
                                <p>Hours: {{ '{0:,}'.format((member.csgo_info.total_time_played / 3600) | round(0)) }}</p>
                                <p>Kills: {{ '{0:,}'.format(member.csgo_info.total_kills) }}</p>
                                <p>Deaths: {{ '{0:,}'.format(member.csgo_info.total_deaths) }}</p>
                                <p>Bombs planted: {{ '{0:,}'.format(member.csgo_info.total_planted_bombs) }}</p>
                                <p>Bombs defused: {{ '{0:,}'.format(member.csgo_info.total_defused_bombs) }}</p>
                                <p>Rounds won: {{ '{0:,}'.format(member.csgo_info.total_wins) }}</p>
                                <p>Kills for weapon type:</p>
                                <ul>
                                    <li>
                                        Rifles: {{ (member.category_weapons_kills.rifle / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.rifle }})
                                    </li>
                                    <li>
                                        SMG: {{ (member.category_weapons_kills.smg / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.smg }})
                                    </li>
                                    <li>
                                        Sniper: {{ (member.category_weapons_kills.sniper / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.sniper }})
                                    </li>
                                    <li>
                                        Pistol: {{ (member.category_weapons_kills.pistol / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.pistol }})
                                    </li>
                                    <li>
                                        Shotgun: {{ (member.category_weapons_kills.shotgun / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.shotgun }})
                                    </li>
                                    <li>
                                        Throwable: {{ (member.category_weapons_kills.throw / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.throw }})
                                    </li>
                                    <li>
                                        Shit: {{ (member.category_weapons_kills.other / member.csgo_info.total_kills * 100) | round(1) }}% ({{member.category_weapons_kills.other }})
                                    </li>
                                </ul>
                            {% else %}
                                <p>The user info cannot be retrieved.</p>
                                <p>Check user profile visibility.</p>
                                <p>You can check the <a target="_blank" href="http://steamcommunity.com/id/{{ member.steam_username }}">user profile at steam</a>.</p>
                                <p></p>
                            {% endif %}
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
